/* колір основного тексту: #212121 */
/* вторинний колір: #757575 */
/* акцент: #2196F3 */
/* колір фону білий: #FFFFFF */
/* колір фону вторинний #F5F4FA */
/* колір фону футер: #2F303A */
/* колір лого studio: #000000 */





/*button {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}*/





/*              header            */


/* Logo */



/*    Main-nav     */


/* Site nav  */

/*         Contacts          */


/* Герой */

/* Button */

/*            Overlay       */



/* Section */


/* Переваги */

/*          Job             */

/* Команда */

/*    Customers */

/* Наші роботи */

/*               Footer            */


/*      Модальне вікно      */




/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 128, 0, 0.373);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(128, 32, 0, 0.373);
} */

/*        ONLINE            */
